@import '../../sass/variables';
@import '../../sass/mixins';

#Chat {
    width: 300px;
    height: 30px;
    // height: 30px;
    overflow-y: hidden;
    // border-top: 2px solid $black;
    // background-color: $black-opaque;

    color: $black;
    
    position: absolute;
    bottom: 0px;
    font: {
        family: $sans;
        size: 1.2rem;
    }
    z-index: 1;

    span {
        cursor: pointer;
        font: {
            family: $sans;
            size: 1.2rem;
        }
        color: $white;
        display: inline-block;
        width: 300px;
        text: {
            align: center;
            transform: uppercase;
        }
        padding: 7px 0;
        background-color: $black-opaque;  
        border-bottom: 2px solid $black;
                  
        // &:hover {
        //     color: $black;
        //     background-color: $clear;
        // }

    }
    .chatContainer {
        // background-color: $black-opaque-2;
        height: 447px;
        // border: 15px solid $black-opaque;
        // border-right: 20px solid $black-opaque;
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        
    }

    .messageWrapper {
        // width: calc(300px - 30px);
        width: 300px;
        background-color: $black-opaque-4;
        // background-color: $clear;
        height: calc(365px - 30px);
        height: 365px;
        overflow-y: scroll;
        padding-bottom: 10px;

        .message {
            width: 170px;
            background-color: $black-opaque;
            color: $white;
            padding: 10px;
            // margin-bottom: 10px;
            em {
                color: $snowy-sky;                
                font: {
                    size: 0.6rem;

                }
                margin: 0;
                padding: 0;
            }
            .content {
                width: 150px;
                margin: 5px 0;
                font-size: 1rem;

                img {
                    width: 150px;
                    height: auto;
                }

                p {
                    margin-bottom: 5px;
                }
            }
            word-break: keep-all;
            word-wrap: break-word;
            text-align: left;
            
            
        }

        .admin {
            margin-left: 10px;
            margin-top: 10px;
            float: left;
        }

        .user {
            em {
                color: $white;
            }
            color: $black;
            margin-right: 10px;
            margin-top: 10px;
            float: right;
            background-color: $snowy-sky-2;
        }
    }

    .inputBar {
        // width: calc(300px - 30px);
        width: 300px;        
        // height: calc(80px);
        height: 80px;
        // background-color: $white-opaque-2;
        border-top: 2px solid $black;
        display: flex;

        textarea {
            width: 230px;
            border: none;
            height: calc(80px - 14px);
            height: 80px;
            outline: none;
            color: $white;
            &::-webkit-input-placeholder {
                color: $snowy-sky-2;
            }
            background-color: $black-opaque-4;
            font: {
                family: $sans;
                size: 0.8rem;
            }
            padding: 7px;
            margin: 0;
            resize: none;
            
        }

        .fileUploadWrapper {
            position: relative;
            input {
                position: absolute;
                top: 0;
                left: 0;
                height: 80px;
                width: 70px;
                opacity: 1;
                padding-top: 80px;
                outline: none;
                cursor: pointer;
            }
        }

        .fakeButton {
            display: flex;
            align-items: center; 
            justify-content: center;
            width:70px;
            border: none;
            height: 80px;
            background-color: $black-opaque;
            color: $white;
            font: {
                family: $sans;
                size: 1.2rem;
            }
            text-transform: uppercase;
            padding: 7px;
            margin: 0;
            outline: none;
            // &:hover {
            //     color: $black;
            //     background-color: $clear;
            // }
            cursor: pointer;
        }
        button {
            width:70px;
            border: none;
            height: 80px;
            background-color: $black-opaque;
            color: $white;
            font: {
                family: $sans;
                size: 1.2rem;
            }
            text-transform: uppercase;
            padding: 7px;
            margin: 0;
            outline: none;
            // &:hover {
            //     color: $black;
            //     background-color: $clear;
            // }
            cursor: pointer;
            
        }
    }

}