@import '../../sass/variables';
@import '../../sass/mixins';

#Flights {
    width: 300px;
    overflow-y: scroll;

    color: $white;
    border-top: 2px solid $black;

    .searchWrapper {
        height: 80px;
        display: flex;
        div {
            width: 150px;
        }

        input,
        button {
            width: 150px;
            height: 40px;
            padding: 7px;
            background-color: $black-opaque;
            border: none;
            outline: none;
            color: $white;
            font: {
                family: $sans;
                size: 1rem;
            }
        }

        button {
            cursor: pointer;
            color: $black;
            background-color: $white-opaque;
            &:hover{
                background-color: $black-opaque;
                color: $white;
            }
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;
            }
        }
    }

    .animateContainer {
        position: relative;
        margin-top: 10px;
        height: 180px;
        overflow: hidden;
        background-color: $black-opaque;
    }

    #aWrapper {
        // opacity: 0;
        width: 300px;
        height: 130px;
        position: absolute;
        top: 25px;

        img {
            position: absolute;
            z-index: 0;
            height: 80px;
            width: 95px;
            top: calc((130px - 80px) / 2);
            left: 300px; //103 px
        }

        div {
            z-index: 1;
            position: absolute;

            a {
                cursor: pointer;
                &:hover {
                    color: $black;
                }
                z-index: 20;
                display: inline-block;
                padding: 7px;
                overflow: hidden;
                color: $white;
                height: 30px;
                width: 90px;
                font: {
                    family: $sans;
                    size: 1.2rem;
                }
                text: {
                    align: center;
                    decoration: none;
                    transform: uppercase;
                }
                position: absolute;
                
            }
            .flightsA {
                top: calc(((130px - 80px) / 2) - 25px); //0
                left: -90px;//60
            }
            .hotelsA {
                top: calc(((130px - 80px) / 2) + 40px + 33px);//103
                left: -90px;//150                
            }
        }
    }

    

}