@import '../../sass/variables';
@import '../../sass/mixins';

#Header {
    width: 100vw;
    display: flex;
    justify-content: center;

    .mobileMakingWrapper{
        // @include mobile-making-wrapper();
        width: 300px;
        // height: 250px;
        // padding: 20px 0;
        margin-top: 0;
        text-align: center;

        h1 {
            width: 300px;
            color: $snowy-sky;  
            color: $black;  
            // margin-bottom: 20px;          
            font: {
                family: $sans;
                size: 2rem;
            }
            line-height: 1.2em;
            text: {
                align: center;
                transform: uppercase;
            }
        }

        a {
            color: $white;
            text: {
                align: center;
                transform: uppercase;
                decoration: none;
            }
            font: {
                size: 0.7rem;
                family: $sans;
                
            }
            line-height: 1.2em;
            letter-spacing: 0.2em;            
        }
    }


}