@import '../../sass/variables';
@import '../../sass/mixins';

#Trips {
    width: 300px;
    // height: 30vh;
    // overflow-y: scroll;
    // border: 1px solid red;
    // border-top: 2px solid $black;
    // background-color: $white-opaque;

    color: $black;
    li {
        cursor: pointer;
        &:hover {
            color: $white;
        }
        width: 300px;
        text: {
            align: center;
        }
        font: {
            size: 1rem;
            family: $sans;
        }
        line-height: 1.2em;
        margin: 10px 0;
    }

    a,
    span {
        color: $black;
        background-color: $white-opaque;
    }

    .completed {
        // text-decoration: line-through;
        color: $snowy-sky;
        // color: $white;
        p {
             display: none;
        }
    }


}